@font-face {
    src:url(fonts/OneDirection.ttf)format("truetype");
    font-family: nos;
}
.paragraph{
    text-align: center;
    font-size: 30px;
    font-family:sans-serif;
    color: antiquewhite;
}
.paragraph2{
    text-align:center;
    font-size: 100px;
    font-family: nos;
    color: antiquewhite;
}
.menu-bar
{
text-align:center;
background-color:rgb(10, 10, 10);
}
.menu-bar ul
{
   display: inline-flex;
   color:floralwhite
}
.menu-bar ul li
{
    font-family: Impact;
    width: 120px;
    margin: 15px;
    padding: 15px;

}

.menu-bar ul li:hover
{

    background: floralwhite;
    color: #000000;
    border-radius:3px;
}
.paragraph5{
    font-size: 20px;
    font-family:Courier;
    margin: 30px;
    color:antiquewhite;
}
.pre{
    color:black;
}
.container{
    text-align: center;
    width:300px;
    height:200px;
    padding-top:100px;
}

.lets-go-btn{
    color: floralwhite;
    background:rgb(12, 12, 12);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    
  align-items: center;
  justify-content:center;
}
.lets-go-btn:hover{
    background: rgb(54, 1, 1);
}

.icons{
    display: flex;
    font-size: 3rem;
    margin-top:0;
    line-height: 0;
    align-items: flex-end;
    display: flex;
    gap: 1px;
    justify-content: center;
    
}

.icons a { margin-right:75px; }

.icons :hover{
    transform: scale(1.5);
}

.footer{
    background-color:rgb(16, 17, 17);
    margin-top:28%;
}
.p1{
    color:white;
    font-size: larger;
    padding-bottom: 10px;
    
}
